<h1>edit article</h1>
<%= form_for :article, url: article_path(@article), method: :put do |f| %>
<p>
	title<br/>
	<%= f.text_field :title %>
</p>
<p>
	text<br/>
	<%= f.text_area :text %>
</p>
<p>
	
	<%= f.submit  %>
</p>
<% end %>