<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>
<form action="/send" method="post">
	<p>
	name:<br/>
	<input type="text" name="name">
</p>
<p>
	message: <br/>
	<textarea name="message"></textarea>
</p>
	<button type="submit">sasasa</button>
</form>